<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JW-A08-UniversidadeJSP</display-name>
  <servlet>
    <servlet-name>CadastrarAlunoServlet</servlet-name>
    <servlet-class>view.CadastrarAlunoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarAlunoServlet</servlet-name>
    <url-pattern>/CadastrarAlunoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuscarAlunosPorNomeServlet</servlet-name>
    <servlet-class>view.BuscarAlunosPorNomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarAlunosPorNomeServlet</servlet-name>
    <url-pattern>/BuscarAlunosPorNomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuscarAlunosPorCursoServlet</servlet-name>
    <servlet-class>view.BuscarAlunosPorCursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarAlunosPorCursoServlet</servlet-name>
    <url-pattern>/BuscarAlunosPorCursoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarAlunosServlet</servlet-name>
    <servlet-class>view.ListarAlunosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAlunosServlet</servlet-name>
    <url-pattern>/ListarAlunosServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>